<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.advice.dao.AdviceMapper">
<select id="normalUserHelpCall" resultType="advice" parameterType="advice">
	select 
		REQUEST_MEMBER_ID requestMemberId
		,REQUESTED_MEMEBER_ID requestedMemeberId
		,ROOM_ID roomId
		,CRE_DATE creDate
		,ID
		,REQUEST_DATE requestDate
		,STATE state
	from 
		advice
	where REQUEST_MEMBER_ID = #{requestMemberId} and STATE = 0
</select>

<select id="reverseCall" resultType="advice" parameterType="advice">
	select 
		REQUEST_MEMBER_ID requestMemberId
		,REQUESTED_MEMEBER_ID requestedMemeberId
		,ROOM_ID roomId
		,CRE_DATE creDate
		,ID
		,REQUEST_DATE requestDate
		,STATE 
	from 
		advice
	where REQUEST_MEMBER_ID = #{requestMemberId} and STATE = 1
</select>

	
</mapper>
