<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.advice.dao.AdviceMapper">
<select id="normalUserHelpCall" resultType="advice" parameterType="advice">
	select 
		REQUEST_MEMBER_ID
		,REQUESTED_MEMEBER_ID
		,ROOM_ID
		,CRE_DATE
		,ID
		,REQUEST_DATE
	from 
		advice
	where REQUEST_MEMBER_ID = #{requestMemberId}
</select>

	
</mapper>
