<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.item.dao.ItemMapper">


	<insert id="insert" parameterType="item" keyColumn="item_id" keyProperty="itemId">
		INSERT INTO
			item
			(
				item_type_id,
				item_name,
				text,
				model_file_name
			)
		VALUES
			(
				#{itemType.itemTypeId},
				#{itemName},
				#{text},
				#{modelFileName}
			)
	</insert>
	
</mapper>
