<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.member.dao.MemberMapper">
	<select id="selectMember" parameterType="member" resultType="member">
		SELECT
			member_id as "memberId",
			email,
			password,
			phone,
			picture,
			text,
			cre_date as "creDate",
			del_date as "delDate",
			permission_id as "permission",
			designer,
			member_name as "memberName"
		FROM
			member
		WHERE
			<if test="email != null">
				email=#{email}
			</if>
			<if test="phone != null">
				phone=#{phone}
			</if>
	</select>
</mapper>
