<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.room.dao.RoomDAO">

<!-- 일반고객이 자신이 작성 한 매물 검색하는것 -->
<select id="searchRoomInfo" resultType="room" parameterType="int">
	select
		roomId
		,estateId
		,snapshot
		,map
		,creDate
		,delDate
		,height
		,floorTexture
		,ceilingTexture
		,memberId
	from
		room
	where
		estateId = #{estateId} and memberId = #{memberId}
</select>
	
<!-- 일반 고객이 자신의 마이페이지에 접속하면 자신이 작성한 매물 전체 출력 -->
<select id="allMyRoom" resultType="room" parameterType="int">
	select
		roomId
		,estateId
		,snapshot
		,map
		,creDate
		,delDate
		,height
		,floorTexture
		,ceilingTexture
		,memberId
	from
		room
	where
		memberId = #{memberId}
</select>
</mapper>
