<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.real.fudousan.room.dao.RoomMapper">

<!-- 일반고객이 자신이 작성 한 매물 검색하는것 -->
<select id="searchRoomInfo" resultType="room">
	select
		room_id
		,estate_id
		,snapshot
		,map
		,cre_date
		,del_date
		,heigth
		,floor_Texture_id
		,ceiling_Texture_id
		,member_id AS memberId
	from
		room
	where
		estate_Id = #{0} and member_id = #{1}
</select>
	
<!-- 일반 고객이 자신의 마이페이지에 접속하면 자신이 작성한 매물 전체 출력 -->
<!-- 
<select id="allMyRoom" resultType="room" parameterType="int">
	select
		ROOM_ID
		,ESTATE_ID
		,SNAPSHOT
		,MAP
		,CRE_DATE
		,DEL_DATE
		,HEIGTH
		,FLOOR_TEXTURE_ID
		,CEILING_TEXTURE_ID
		,member_id AS memberId
	from
		room
	where
		member_id = #{member_id}
</select>
 -->

		<!-- member_id = #{0} 파라메터가 1개니까 뭘 써도 상관없다-->





<select id="allMyRoom" resultMap="roomAllShow" parameterType="int">
		select
			ROOM_ID
			,SNAPSHOT
			,MAP
			,ROOM.CRE_DATE CRE_DATE
			,ROOM.DEL_DATE DEL_DATE
			,HEIGTH
			,FLOOR_TEXTURE_ID
			,CEILING_TEXTURE_ID
			,MEMBER_ID
			,ROOM.ESTATE_ID ESTATE_ID 
			,Region
			,Prefecture
			,Municipality
			,DistrictName
			,NearestStation
			,TimeToNearestStation
			,TradePrice
			,PricePerUnit
			,FloorPlan
			,Area
			,UnitPrice
			,LandShape
			,Frontage
			,TotalFloorArea
			,BuildingYear
			,Structure
			,Use
			,Purpose
			,Direction
			,Classification
			,Breadth
			,CityPlanning
			,CoverageRatio
			,FloorAreaRatio
			,Period
			,Renovation
			,Remarks
			,estate.DEL_DATE estate_DEL_DATE
			,estate.MunicipalityCode_ID MunicipalityCode_ID
			,estate.TRANS_TYPE_ID TRANS_TYPE_ID
			,f.TEXTURE_ID f_TEXTURE_ID
			,f.TEXTURE_TYPE_ID f_TEXTURE_TYPE_ID
			,f.MEMBER_ID f_MEMBER_ID
			,f.TEXTURE_NAME f_TEXTURE_NAME
			,f.TEXT f_TEXT
			,f.TEXTURE_FILE f_TEXTURE_FILE
			,f.CRE_DATE f_CRE_DATE
			,f.DEL_DATE f_DEL_DATE
			,c.TEXTURE_ID c_TEXTURE_ID
			,c.TEXTURE_TYPE_ID c_TEXTURE_TYPE_ID
			,c.MEMBER_ID c_MEMBER_ID
			,c.TEXTURE_NAME c_TEXTURE_NAME
			,c.TEXT c_TEXT
			,c.TEXTURE_FILE c_TEXTURE_FILE
			,c.CRE_DATE c_CRE_DATE
			,c.DEL_DATE c_DEL_DATE
			,tf.NAME f_NAME
			,tf.TEXT f_TEXT
			,cf.NAME c_NAME
			,cf.TEXT c_TEXT
		from
			room
		left outer join
			TEXTURE f
		on
			room.FLOOR_TEXTURE_ID = f.TEXTURE_ID
		left outer join
			TEXTURE c
		on
			room.CEILING_TEXTURE_ID = c.TEXTURE_ID
		left outer join
			TEXTURE_TYPE tf
		on
			f.TEXTURE_TYPE_ID = tf.TEXTURE_TYPE_ID
		left outer join
			TEXTURE_TYPE cf
		on
			c.TEXTURE_TYPE_ID = cf.TEXTURE_TYPE_ID
		join
			ESTATE
		on
			room.ESTATE_ID = estate.ESTATE_ID
		join
			MunicipalityCode
		on
			estate.MunicipalityCode_ID = municipalitycode.MunicipalityCode_ID
		join
			TRANS_TYPE
		on
			estate.TRANS_TYPE_ID = trans_type.TRANS_TYPE_ID
		where
			room.MEMBER_ID = #{MEMBER_ID}
	</select>
	
	
	<resultMap type="room" id="roomAllShow">
		<id 		 property="roomId"			column="ROOM_ID"/>
		<result 	 property="snapshot" 		column="SNAPSHOT"/>
		<result 	 property="map"  			column="MAP"/>
		<result 	 property="creDate"			column="CRE_DATE"/>
		<result 	 property="delDate"     	column="DEL_DATE"/>
		<result 	 property="heigth"      	column="HEIGTH"/>
		<result 	 property="memberId"  		column="MEMBER_ID"/>
		<association property="estate"   		column="estate_id" 			javaType="com.real.fudousan.estate.vo.Estate" resultMap="estateResultMap"/>
		<association property="floorTexture"   	column="FLOOR_TEXTURE_ID" 	javaType="com.real.fudousan.texture.vo.Texture" resultMap="textureResultMap" columnPrefix="f_"/>
		<association property="ceilingTexture"  column="CEILING_TEXTURE_ID" javaType="com.real.fudousan.texture.vo.Texture" resultMap="textureResultMap" columnPrefix="c_"/>
	</resultMap>
	
	<resultMap type="texture" id="textureResultMap">
		<id 	property="textureId" 	column="TEXTURE_ID"/>
		<result property="memberId"  	column="MEMBER_ID"/>
		<result property="name"   		column="TEXTURE_NAME"/>
		<result property="text"   		column="TEXT"/>
		<result property="file"   		column="TEXTURE_FILE"/>
		<result property="creDate"   	column="CRE_DATE"/>
		<result property="delDate"   	column="DEL_DATE"/>
		<association property="textureType" column="TEXTURE_TYPE_ID" javaType="com.real.fudousan.texture.vo.TextureType" resultMap="textureTypeResultMap"/>
	</resultMap>
	
	<resultMap type="texturetype" id="textureTypeResultMap">
		<id		property="textureTypeId"	column="TEXTURE_TYPE_ID"/>
		<result	property="name"				column="NAME"/>
		<result	property="text"				column="TEXT"/>
	</resultMap>
	
	
	<!-- 객체 별칭이 type  property가 vo 필드명   column이 DB이름-->
	<resultMap type="estate" id="estateResultMap">
		<id 	property="estateId" 				column="ESTATE_ID"/>
		<result property="region" 					column="Region"/>
		<result property="prefecture" 				column="Prefecture"/>
		<result property="municipality" 			column="Municipality"/>
		<result property="districtname" 			column="DistrictName"/>
		<result property="neareststation" 			column="NearestStation"/>
		<result property="timetoneareststation"		column="TimeToNearestStation"/>
		<result property="tradeprice" 				column="TradePrice"/>
		<result property="priceperunit" 			column="PricePerUnit"/>
		<result property="floorplan" 				column="FloorPlan"/>
		<result property="area" 					column="Area"/>
		<result property="unitprice" 				column="UnitPrice"/>
		<result property="landshape" 				column="LandShape"/>
		<result property="frontage" 				column="Frontage"/>
		<result property="totalfloorarea" 			column="TotalFloorArea"/>
		<result property="buildingyear" 			column="BuildingYear"/>
		<result property="structure" 				column="Structure"/>
		<result property="use" 						column="Use"/>
		<result property="purpose" 					column="Purpose"/>
		<result property="direction" 				column="Direction"/>
		<result property="classification" 			column="Classification"/>
		<result property="breadth" 					column="Breadth"/>
		<result property="cityplanning" 			column="CityPlanning"/>
		<result property="coverageratio" 			column="CoverageRatio"/>
		<result property="floorarearatio" 			column="FloorAreaRatio"/>
		<result property="period" 					column="Period"/>
		<result property="renovation" 				column="Renovation"/>
		<result property="remarks" 					column="Remarks"/>
		<result property="delDate" 					column="estate_DEL_DATE"/>
		<association property="municipalitycode"	column="MunicipalityCode_ID" javaType="com.real.fudousan.estate.vo.MunicipalityCode" resultMap="MunicipalityCodeResultMap"/>
		<association property="transType" 			column="TRANS_TYPE_ID"       javaType="com.real.fudousan.estate.vo.TransType"        resultMap="transTypeResultMap"/>
	</resultMap>
	
		<!-- associationdml property는 속하는 객체의 vo변수명이다. -->
	
	<resultMap type="transtype" id="transTypeResultMap">
		<id 	property="transTypeId" column="TRANS_TYPE_ID"/>
		<result property="transName"   column="TRANS_NAME"/>
	</resultMap>

	<resultMap type="municipalitycode" id="MunicipalityCodeResultMap">
		<id 	property="municipalitycodeId" column="MunicipalityCode_ID"/>
		<result property="codeName" 		  column="CODE_NAME"/>
	</resultMap>
	

</mapper>
